#live_games
  #next_game_wrapper
    - if @proposed_game && @proposed_game.players.many?
      .game.proposed.prepend-top.append-bottom
        .title.text-center Next Up
        .players
          - player_one = @proposed_game.players.first
          - player_two = @proposed_game.players.last
          .player.left.text-center
            .name= player_one.name
            .kick-link
              %a{href: "/events/#{@event.id}/generate_match_without/#{player_one.id}/#{player_two.id}", data: { method: :post, confirm: 'Are you sure?' }} Replace Player
          .vs.left.text-center vs
          .player.right.text-center
            .name= player_two.name
            .kick-link
              %a{href: "/events/#{@event.id}/generate_match_without/#{player_two.id}/#{player_one.id}", data: { method: :post, confirm: 'Are you sure?' }} Replace Player
          .clear
          .create-game.text-center
            %a{href: "/events/#{@event.id}/create_next_game", data: { method: :post }} Start Game!
    - else
      %h3 There are not enough active players in the event to generate a match

  .games.prepend-top
    - @current_games.each do |game|
      = partial 'events/game', locals: { game: game }