- players ||= @players || @event.players

#event
  .links.prepend-top
    %a{href: "/events/#{@event.id}/live_games"} Live Games
  .players.prepend-top
    %a{href: "/events/#{@event.id}/players/new"} New Player
    .append-bottom
    - if players.any?
      %table.list
        %thead
          %th Name
          %th W
          %th L
          %th Win PCT
          %th
          %th
        %tbody
          - @players.each do |player|
            %tr
              %td= player.name
              %td.text-center= player.games_won_count
              %td.text-center= player.games_lost_count
              %td.text-center= player.win_pct
              %td
                %a{href: "/events/#{@event.id}/players/#{player.id}"} Edit
              %td
                %a{href: '#'} Suspend
