- players ||= @players || @event.players

#event
  .links.prepend-top
    %a{href: "/events/#{@event.id}/live_games"} Live Games
    %a.right{href: "/events/#{@event.id}/players/new"} New Player
    .clear
  .players.prepend-top
    .append-bottom
    - if players.any?
      %table.list
        %thead
          %th
          %th.text-left Name
          %th W
          %th L
          %th{title: 'Win Percentage'} Win PCT
          %th{title: 'Point Differential: How many points the player has scored minus how many points have been scored against them'}
            PT Diff
          %th
          %th
        %tbody
          - @players.to_enum.with_index(1) do |player, i|
            %tr
              %td.slim= i
              %td= player.name
              %td.text-center= player.games_won_count
              %td.text-center= player.games_lost_count
              %td.text-center{title: 'Win Percentage'}= player.win_pct_readable
              %td.text-center{title: 'Point Differential: How many points the player has scored minus how many points have been scored against them'}
                = player.point_diff
              %td
                %a{href: "/events/#{@event.id}/players/#{player.id}"} Edit
              %td.pad-2{class: player.active? ? 'bg-red' : 'bg-green'}
                %a{href: "/events/#{@event.id}/players/#{player.id}/toggle_active_state", data: { method: :post }}
                  = player.active? ? "Suspend" : "Reactivate"
